# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Debug files
*.local
.vscode/

# Build artifacts (if any)
dist/
build/

# Coverage from testing tools like Jest
coverage/

# Temp files
tmp/
temp/

# MongoDB dump files (optional)
dump/

# IDE stuff (optional)
.idea/
*.sublime-workspace
*.sublime-project
